# Ignore build directory
build/

# Ignore vscode settings
.vscode/

# Ignore mazegen executable
mazegen

# Ignore all object files
*.o

# Ignore tags file
tags

# Common temporary and backup files
*.out
*.a
*.so
*.swp
*~